[submodule "deps/cpp_redis"]
	path = deps/cpp_redis
	url = https://github.com/cpp-redis/cpp_redis.git
[submodule "deps/intercept"]
	path = deps/intercept
	url = https://github.com/intercept/intercept.git
[submodule "deps/mariadb-connector-c"]
	path = deps/mariadb-connector-c
	url = https://github.com/MariaDB/mariadb-connector-c.git
	ignore = dirty
[submodule "deps/mariadbpp"]
	path = deps/mariadbpp
	url = https://github.com/viaduck/mariadbpp.git
	ignore = dirty
[submodule "deps/wolfssl"]
	path = deps/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/sqlitecpp"]
	path = deps/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/threadpool"]
	path = deps/threadpool
	url = https://github.com/RZSenfo/ThreadPool.git
[submodule "deps/cpp-httplib"]
	path = "deps/cpp-httplib"
	url = "https://github.com/yhirose/cpp-httplib.git"
[submodule "deps/asio"]
	path = "deps/asio"
	url = "https://github.com/corvusoft/asio-dependency.git"